<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/jquery.validate.min.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>

<script src="/public/javascripts/continue_to_idp.js"></script>
<script src="/public/javascripts/select_documents.js"></script>
<script src="/public/javascripts/select_phone.js"></script>
<script src="/public/javascripts/will_it_work_for_me.js"></script>
<script src="/public/javascripts/validation.js"></script>
<script src="/public/javascripts/passport_expiry.js"></script>

<script src="/public/javascripts/application.js"></script>