{% extends "layout_start_page.html" %}

{% block page_title %}Register for and file your Self Assessment tax return{% endblock %}

{% block page_content %}

<div class="article-container">

  <header class="page-header">
    <h1 class="heading-xlarge">Register for and file your Self Assessment tax return</h1>
  </header>

  <div class="grid-row">
    <nav class="page-navigation">
      <ol>
        <li class="active">
          <span class="part-number">1.</span>
          <a href="/self-assessment/start-self-assessment-1?requestId=self-assessment">If you're already registered</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <span">Register if you're not self-employed<span>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="/self-assessment/start-self-assessment-3?requestId=self-assessment">Register if you're self-employed</a>
        </li>
      </ol>
      <ol start="4">
        <li>
            <span class="part-number">4.</span>
            <a href="/self-assessment/start-self-assessment-4?requestId=self-assessment">Register if you're a partner or partnership</a>
        </li>
      </ol>
    </nav>

  </div>

  </div>

  <article>
    <h2 class="heading-medium">2. Register if you're not self-employed</h2>

    <p>
     If you <a href="#">have to send a tax return</a> and didn’t send one last year, you need to register for Self Assessment by 5 October.
    </p>
    
    <div class="">
      <div class="">
        <a class="button button-start" href="#">
          <strong>Register now</strong>
        </a>
      </div>
    </div>

    <h2 class="heading-medium">If you’ve sent a return before</h2>
    
    <p>To register, you’ll need the 10-digit Unique Taxpayer Reference (UTR) from when you registered previously. You can <a href="#">find your UTR</a> if you’ve lost it.</p>
    
    <p>Use the online account you set up previously to file your tax return.</p>

    <h2 class="heading-medium">If you haven’t sent a return before</h2>

    <p>You’ll get a letter within 10 working days (21 if you’re abroad) which will contain your Unique Taxpayer Reference (UTR). You’ll need this to enrol for Self Assessment online services so you can file your return online.</p>

    <p>You’ll get an activation code in the post within 10 working days of enrolling (21 if you’re abroad). You’ll need this when you first log in to your online account. You can <a href="#">replace an activation code</a> if you don’t receive it or you lose it.</p>

  </article>


</div>
  <div class="column-third sidebar-related-links">
    <div class="sidebar-navigation-heading"></div>
    <h2 class="heading-medium">Self Assessment</h2>
    <ul class='list list-bullet'>
      <li><a href="#">Pay your Self Assessment tax bill</a></li>
      <li><a href="#">Self Assessment tax returns</a></li>
      <li><a href="#">Self Assessment forms and helpsheets</a></li>
      <li><a href="#">Get help with tax</a></li>
      <li><a href="#">More</a></li>
    </ul>
  </div>

{% endblock %}