{% extends "layout.html" %}

{% block page_title %}GOV.UK Verify prototype{% endblock %}

{% block content %}

<main id="content">
  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="heading-xlarge">GOV.UK Verify LOA1 prototype</h1>
      </header>

      <article>
          
            <p><a href="/start-view-share-driving-licence?requestId=view-share-driving-licence">View or share your driving licence information</a> (LOA1)</p>

      </article>


    </div>
  </div>
</main>
{% endblock %}


