{% extends "layout.html" %}

{% block page_title %}Renew or update your driving licence{% endblock %}

{% block page_content %}

<div class="container">

    <div class=" personal-tax-heading">
      <h1 class="heading-large">Joe Bloggs</h1>
      <p>Unique Taxpayer Reference (UTR): 6594827888</p>
    </div>
    
    <div class="column-full">
      <h2 class="heading-medium personal-tax-sub-heading">At a glance</h2>
      <div class="grid-row">
        <div class="column-half">
          <h3 class="heading-small"><a href="#">View account</a></h3>
          <p>View a history of your account. </p> 

          <p>You have <strong>nothing</strong> to pay.</p>
        </div>
        <div class="column-half">
          <h3 class="heading-small"><a href="#">File a return for 2015/16</a></h3>
          <p>HM Revenue & Customs (HMRC) has not sent you a notice to complete a tax return. If you wish to file a tax return please follow Tax return options.</p>
        </div>
      </div>
    </div>

    <div class="column-full">
      <div class="grid-row">
        <div class="column-half">
          <h3 class="heading-small"><a href="#">Tax return options</a></h3>
          <p>Using this service you can:</p>
          <ul class="list list-bullet">
            <li>check your tax return status for each year</li>
            <li>file a tax return</li>
            <li>file an amended tax return</li>
            <li>file a tax return for an earlier year</li>
          </ul>
        </div>

        <div class="column-half">
          <h3 class="heading-small"><a href="#">View Annual Tax Summary</a></h3>
          <p>There are no Annual Tax Summaries to view.</p>
          <p>For more information go to our website tax summary to find out more about your Tax Summary, and for a list of indirect taxes such as VAT.</p>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium personal-tax-sub-heading">Printing your Self Assessment documents</h2>

        <p>If you sent your return using commercial software or by paper you can't print a copy of the tax calculation from this account but you can print the tax year overview.</p>
        <p>If you used commercial software to send your return, you must use that software to print your tax calculation.</p>

        <h2 class="heading-small">Print a tax calculation (also known as an 'SA302')</h2>

        <ul class="list list-number">
          <li>Follow the link 'tax return options'.</li>
          <li>Choose the year from the drop down menu and select the 'Go' button.</li>
          <li>Select the 'View return' button.</li>
          <li>Follow the link 'view calculation'.</li>
          <li>Follow the link 'view and print your calculation'.</li>
          <li>Follow the link 'print your full calculation' - you can currently view and print up to 2 years but this will increase to 3 years from April 2015 and 4 years from April 2016.</li>
        </ul>

        <h2 class="heading-small">Print a tax year overview</h2>

        <ul class="list list-number">
          <li>Follow the link 'view account'</li>
          <li>Follow the link 'tax years'</li>
          <li>Choose the year from the drop down menu and select the 'Go' button</li>
          <li>Follow the link 'print your Tax Year Overview'</li>
        </ul>

        
        <div class="panel panel-border-wide">
          <p>
            You must wait 72 hours after fully submitting your return until you can print your documents.
          </p>
        </div>



        </div>
      </div>
    </div>



</div>



{% endblock %}