{% extends "layout_start_page.html" %}

{% block page_title %}Renew or update your driving licence{% endblock %}

{% block page_content %}

<div class="article-container">

  <header class="page-header">
    <h1 class="heading-xlarge">Report a medical condition that affects your driving</h1>
  </header>

  <article>

  
      <div class="button-wrap">
        <a class="button button-start" href="/intro{{formQuery}}&requestId=driving-with-medical-condition">
          <strong>Start now</strong>
        </a>
      </div>



  </article>
</div>

{% endblock %}