{% extends "layout_start_page.html" %}

{% block page_title %}Personal tax account: sign in or set up{% endblock %}

{% block page_content %}

<div class="article-container">

  <header class="page-header">
    <h1 class="heading-xlarge">Apply for Universal Credit</h1>
  </header>

  <article>

    <p>
      XXXXX
    </p>

    <div class="sign-in-wrap">
      <div class="button-wrap">
        <a class="button button-start" href="/select-signin{{formQuery}}&requestId=universal-credit">
          <strong>Start now</strong>
        </a>
      </div>
    </div>

  </article>
</div>

{% endblock %}