{% extends "layout_start_page.html" %}

{% block page_title %}Personal tax account: sign in or set up{% endblock %}

{% block page_content %}

<div class="article-container">

  <header class="page-header">
    <h1 class="heading-xlarge">Personal tax account: sign in or set up</h1>
  </header>

  <article>

    <p>
      Use your personal tax account to check your records and manage your details with HM Revenue and Customs (HMRC).
    </p>

    <div class="sign-in-wrap">
      <div class="button-wrap">
        <a class="button button-start" href="/select-signin{{formQuery}}&requestId=personal-tax-account">
          <strong>Start now</strong>
        </a>
      </div>
    </div>

    <h2 class="heading-medium">What you can do</h2>
    <p>You can use your personal tax account to:</p>
    <ul class="list list-bullet">
      <li></a>check your Income Tax estimate and tax code</li>
      <li></a>fill in, send and view a personal tax return</li>
      <li></a>claim a tax refund</li>
      <li></a>check and manage your tax credits</li>
      <li></a>check your State Pension</li>
      <li></a>track tax forms that you’ve submitted online</li>
      <li></a>check or update your Marriage Allowance</li>
      <li></a>tell HMRC about a change of address</li>
      <li></a>check or update benefits you get from work, eg company car details and medical insurance</li>
    </ul>

    <p>More services will be added in the future.</p>

<!--     <h2 class="heading-medium">Other ways to apply</h2>
    <h3 class="heading-small">By phone or post</h3>
    <p>If you’ll <a href="#">reach your State Pension age</a> in more than 30 days, call the <a href="#">Future Pension Centre</a> and ask for a statement.</p>

    <p>You can also fill in the <a href="#">BR19 application form</a> and send it in the post.</p>

    <p>You’ll get your statement within 10 working days.</p>

    <h3 class="heading-small">If you’re already getting your State Pension or have delayed claiming it</h3>
    <p>To get information about your State Pension, contact the <a href="#">Pension Service</a> if you’re in the UK or the <a href="#">International Pension Centre</a> if you live abroad.</p>

    <h3 class="heading-small">If you’ve worked and paid National Insurance in the Isle of Man</h3>
    <p>Contact the <a href="#">Future Pension Centre</a> to get information about your State Pension.</p> -->

  </article>
</div>

{% endblock %}