{% extends "layout.html" %}

{% block page_title %}Complete your claim or access your Universal Credit account{% endblock %}

{% block page_content %}

<div class="article-container">

  <header class="page-header">
    <h1 class="heading-xlarge">Complete your claim or access your Universal Credit account</h1>
  </header>

  <article>

    <p>All the service content</p>

    <div class="sign-in-wrap">
      <div class="button-wrap">
        <a class="button button-start" href="/uplift-warning{{formQuery}}">
          <strong>Change bank details</strong>
        </a>
      </div>
    </div>

  </article>
</div>

{% endblock %}